.header {
    display: flex;
    padding: 0 0 0 15px;
    margin-bottom: 50px;
    background: #287982;
    position: sticky;
    top: 0;
    z-index: 999;
    .logo {
        h1{
            color: #fff;
            text-shadow: 1px 1px 2px #000000;
        }
        
    }

    .navbar {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 0px 0px 35px;
        .my-nav {

            margin-right: 20px;
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            padding: 14px 0;
            &.active{
                color: #fa9128;
            }
        }
       
        .nav-right{
            padding: 16px 20px;
            background: #fa9128;
            .site-icon{
                color: #ffffff;         
            }
            p{
                color: #fff;
                font-weight: 500;
            }
        }
        .nav-left{
            display: flex;
            justify-content: space-between;
            width: 88%;
            .search{
                display: flex;
                position: relative;
                width: 400px;
                align-items: center;
                button{
                    padding: 6px 11px;
                    background: #333;
                    color: #fff;
                    border: none;
                    .sar-icon{
                        margin-right: 5px;
                    }
                }
                input{
                    border: none;
                    padding: 6px 15px;
                    &::placeholder{
                        color: #ddd;
                    }
    
                }
            }
        }
        .login{
            padding: 10px !important;
            margin-left: 10px !important;
            color: #fff;
            border-left: 1px solid rgba(255, 255, 255, 0.589);
            cursor: pointer;
        }
    }
    .nav-wrap{
        display: flex;
    }
    }

  

.action-btn {
    width: 100%;

    &:nth-child(1) {
        margin-bottom: 5px;
    }
}

.each-pro {
    margin-bottom: 15px;
}

.carousel{
    min-height: 300px;
}
.carousel-item{
    height: 100%;
}


.my-slider{
    height: 400px;
    border-radius: 10px;
    margin-bottom: 50px;
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}



.each-filter{
    border-radius: 10px;
    background: #fff;
    padding: 15px;
    p{
        font-weight: 700;
        font-size: 18px;
    }
    li{
        list-style: none;
        padding: 10px;
        cursor: pointer;
        &:not(:last-child){
            border-bottom: 1px solid #eee;
        }
    }
}